SCHOOL_DB_HOST=localhost
SCHOOL_DB_PORT=3306
SCHOOL_DB_USER=root
SCHOOL_DB_PASSWORD=
SCHOOL_DB_NAME=equipe_6
SCHOOL_API_URL=http://127.0.0.1:8000
SCHOOL_PYTHON=
SCHOOL_MYSQL_EXE=
SCHOOL_MYSQLDUMP_EXE=
