-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cozma_miroslav
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `cozma_miroslav`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `cozma_miroslav` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */;

USE `cozma_miroslav`;

--
-- Table structure for table `absence`
--

DROP TABLE IF EXISTS `absence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `absence` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `eleve_id` int(11) NOT NULL,
  `instance_cours_id` int(11) NOT NULL,
  `duree_minutes` int(11) NOT NULL,
  `justificatif` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `fk_absence_eleve` (`eleve_id`),
  KEY `fk_absence_instance` (`instance_cours_id`),
  CONSTRAINT `fk_absence_eleve` FOREIGN KEY (`eleve_id`) REFERENCES `eleve` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_absence_instance` FOREIGN KEY (`instance_cours_id`) REFERENCES `instance_cours` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absence`
--

LOCK TABLES `absence` WRITE;
/*!40000 ALTER TABLE `absence` DISABLE KEYS */;
INSERT INTO `absence` VALUES (1,2,1,45,1),(2,2,2,120,0),(3,3,3,60,1),(4,4,4,180,0),(5,6,5,90,1),(6,7,1,240,0),(7,8,8,30,1);
/*!40000 ALTER TABLE `absence` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classement_eleve`
--

DROP TABLE IF EXISTS `classement_eleve`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classement_eleve` (
  `eleve_id` int(11) NOT NULL,
  `score` int(11) NOT NULL,
  `moyenne_generale` decimal(5,2) NOT NULL,
  `total_absence_minutes` int(11) NOT NULL,
  `a_un_avertissement` tinyint(1) NOT NULL DEFAULT 0,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`eleve_id`),
  CONSTRAINT `fk_classement_eleve` FOREIGN KEY (`eleve_id`) REFERENCES `eleve` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classement_eleve`
--

LOCK TABLES `classement_eleve` WRITE;
/*!40000 ALTER TABLE `classement_eleve` DISABLE KEYS */;
INSERT INTO `classement_eleve` VALUES (1,9,14.17,0,0,'2026-03-17 18:53:37'),(2,4,10.25,165,1,'2026-03-17 18:53:37'),(3,8,10.25,60,0,'2026-03-17 18:53:37'),(4,2,6.75,180,1,'2026-03-17 18:53:37'),(5,10,15.25,0,0,'2026-03-17 18:53:37'),(6,7,9.75,90,0,'2026-03-17 18:53:37'),(7,5,12.00,240,0,'2026-03-17 18:53:37'),(8,10,16.17,30,0,'2026-03-17 18:53:37');
/*!40000 ALTER TABLE `classement_eleve` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `club`
--

DROP TABLE IF EXISTS `club`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `club` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) NOT NULL,
  `categorie` varchar(120) NOT NULL,
  `budget_annuel` decimal(10,2) NOT NULL DEFAULT 0.00,
  `responsable_prof_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`),
  KEY `fk_club_prof` (`responsable_prof_id`),
  CONSTRAINT `fk_club_prof` FOREIGN KEY (`responsable_prof_id`) REFERENCES `prof` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `club`
--

LOCK TABLES `club` WRITE;
/*!40000 ALTER TABLE `club` DISABLE KEYS */;
INSERT INTO `club` VALUES (1,'Club Robotique','Technique',2500.00,1),(2,'Club Basket','Sport',1800.00,4),(3,'Club CTF','Cyber',2200.00,2);
/*!40000 ALTER TABLE `club` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cours`
--

DROP TABLE IF EXISTS `cours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cours` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) NOT NULL,
  `niveau` int(11) NOT NULL DEFAULT 1,
  `specialite_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`),
  KEY `fk_cours_specialite` (`specialite_id`),
  CONSTRAINT `fk_cours_specialite` FOREIGN KEY (`specialite_id`) REFERENCES `specialite` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cours`
--

LOCK TABLES `cours` WRITE;
/*!40000 ALTER TABLE `cours` DISABLE KEYS */;
INSERT INTO `cours` VALUES (1,'Python 1',1,1),(2,'API REST',2,1),(3,'Reseau securise',2,2),(4,'SQL avance',2,NULL),(5,'Analyse de donnees',3,3),(6,'Communication pro',1,NULL);
/*!40000 ALTER TABLE `cours` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dossier`
--

DROP TABLE IF EXISTS `dossier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dossier` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `eleve_id` int(11) NOT NULL,
  `infos` varchar(2550) NOT NULL DEFAULT '',
  `avertissement_travail` tinyint(1) NOT NULL DEFAULT 0,
  `avertissement_comportement` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `eleve_id` (`eleve_id`),
  CONSTRAINT `fk_dossier_eleve` FOREIGN KEY (`eleve_id`) REFERENCES `eleve` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dossier`
--

LOCK TABLES `dossier` WRITE;
/*!40000 ALTER TABLE `dossier` DISABLE KEYS */;
INSERT INTO `dossier` VALUES (1,1,'eleve reguliere, dossier a jour',0,0),(2,2,'mineur - suivi mensuel',1,0),(3,3,'bonne progression',0,0),(4,4,'suivi comportement',0,1),(5,5,'tres bon niveau',0,0),(6,6,'besoin de regularite',0,0),(7,7,'mineur - accompagnement pedagogique',0,0),(8,8,'excellent investissement',0,0);
/*!40000 ALTER TABLE `dossier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eleve`
--

DROP TABLE IF EXISTS `eleve`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eleve` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) NOT NULL,
  `email` varchar(190) NOT NULL,
  `age` int(11) NOT NULL,
  `promotion_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_eleve_promotion` (`promotion_id`),
  CONSTRAINT `fk_eleve_promotion` FOREIGN KEY (`promotion_id`) REFERENCES `promotion` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eleve`
--

LOCK TABLES `eleve` WRITE;
/*!40000 ALTER TABLE `eleve` DISABLE KEYS */;
INSERT INTO `eleve` VALUES (1,'Julie Bernard','julie.bernard@ecole.local',19,1),(2,'Karim Haddad','karim.haddad@ecole.local',17,1),(3,'Lea Dubois','lea.dubois@ecole.local',21,2),(4,'Martin Lopez','martin.lopez@ecole.local',20,2),(5,'Nora Simon','nora.simon@ecole.local',18,3),(6,'Paul Renard','paul.renard@ecole.local',22,3),(7,'Ines Petit','ines.petit@ecole.local',16,4),(8,'Sami Laurent','sami.laurent@ecole.local',23,1);
/*!40000 ALTER TABLE `eleve` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_after_eleve_insert_create_dossier
AFTER INSERT ON eleve
FOR EACH ROW
BEGIN
    INSERT INTO dossier (
        eleve_id,
        infos,
        avertissement_travail,
        avertissement_comportement
    )
    VALUES (
        NEW.id,
        CASE
            WHEN NEW.age < 18 THEN 'mineur'
            ELSE ''
        END,
        0,
        0
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `eleve_cours`
--

DROP TABLE IF EXISTS `eleve_cours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eleve_cours` (
  `eleve_id` int(11) NOT NULL,
  `cours_id` int(11) NOT NULL,
  PRIMARY KEY (`eleve_id`,`cours_id`),
  KEY `fk_eleve_cours_cours` (`cours_id`),
  CONSTRAINT `fk_eleve_cours_cours` FOREIGN KEY (`cours_id`) REFERENCES `cours` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_eleve_cours_eleve` FOREIGN KEY (`eleve_id`) REFERENCES `eleve` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eleve_cours`
--

LOCK TABLES `eleve_cours` WRITE;
/*!40000 ALTER TABLE `eleve_cours` DISABLE KEYS */;
INSERT INTO `eleve_cours` VALUES (1,1),(1,2),(1,4),(1,6),(2,1),(2,2),(2,6),(3,3),(3,4),(3,6),(4,3),(4,4),(4,6),(5,4),(5,5),(5,6),(6,4),(6,5),(6,6),(7,1),(7,6),(8,1),(8,2),(8,4),(8,6);
/*!40000 ALTER TABLE `eleve_cours` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscription_club`
--

DROP TABLE IF EXISTS `inscription_club`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscription_club` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `club_id` int(11) NOT NULL,
  `eleve_id` int(11) NOT NULL,
  `role_membre` varchar(120) NOT NULL DEFAULT 'membre',
  `date_inscription` date NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_club_eleve` (`club_id`,`eleve_id`),
  KEY `fk_inscription_club_eleve` (`eleve_id`),
  CONSTRAINT `fk_inscription_club_club` FOREIGN KEY (`club_id`) REFERENCES `club` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_inscription_club_eleve` FOREIGN KEY (`eleve_id`) REFERENCES `eleve` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscription_club`
--

LOCK TABLES `inscription_club` WRITE;
/*!40000 ALTER TABLE `inscription_club` DISABLE KEYS */;
INSERT INTO `inscription_club` VALUES (1,1,1,'presidente','2026-01-10'),(2,1,8,'membre','2026-01-12'),(3,2,6,'capitaine','2026-01-08'),(4,2,4,'membre','2026-01-09'),(5,3,3,'membre','2026-01-15'),(6,3,4,'membre','2026-01-16'),(7,3,2,'membre','2026-01-20');
/*!40000 ALTER TABLE `inscription_club` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instance_cours`
--

DROP TABLE IF EXISTS `instance_cours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `instance_cours` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cours_id` int(11) NOT NULL,
  `prof_id` int(11) NOT NULL,
  `date_cours` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_instance_cours_cours` (`cours_id`),
  KEY `fk_instance_cours_prof` (`prof_id`),
  CONSTRAINT `fk_instance_cours_cours` FOREIGN KEY (`cours_id`) REFERENCES `cours` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_instance_cours_prof` FOREIGN KEY (`prof_id`) REFERENCES `prof` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instance_cours`
--

LOCK TABLES `instance_cours` WRITE;
/*!40000 ALTER TABLE `instance_cours` DISABLE KEYS */;
INSERT INTO `instance_cours` VALUES (1,1,1,'2026-02-02 09:00:00'),(2,2,1,'2026-02-04 14:00:00'),(3,3,2,'2026-02-03 10:00:00'),(4,4,2,'2026-02-05 11:00:00'),(5,5,3,'2026-02-06 13:30:00'),(6,6,4,'2026-02-07 16:00:00'),(7,4,3,'2026-02-10 11:00:00'),(8,2,1,'2026-02-12 14:00:00');
/*!40000 ALTER TABLE `instance_cours` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `note`
--

DROP TABLE IF EXISTS `note`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `note` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `eleve_id` int(11) NOT NULL,
  `cours_id` int(11) NOT NULL,
  `prof_id` int(11) DEFAULT NULL,
  `valeur` decimal(5,2) NOT NULL,
  `commentaire` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_note_eleve` (`eleve_id`),
  KEY `fk_note_cours` (`cours_id`),
  KEY `fk_note_prof` (`prof_id`),
  CONSTRAINT `fk_note_cours` FOREIGN KEY (`cours_id`) REFERENCES `cours` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_note_eleve` FOREIGN KEY (`eleve_id`) REFERENCES `eleve` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_note_prof` FOREIGN KEY (`prof_id`) REFERENCES `prof` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `note`
--

LOCK TABLES `note` WRITE;
/*!40000 ALTER TABLE `note` DISABLE KEYS */;
/*!40000 ALTER TABLE `note` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_before_note_update_keep_best
BEFORE UPDATE ON note
FOR EACH ROW
BEGIN
    IF COALESCE(@skip_keep_best_trigger, 0) = 0 AND NEW.valeur < OLD.valeur THEN
        SET NEW.valeur = OLD.valeur;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `prof`
--

DROP TABLE IF EXISTS `prof`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prof` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) NOT NULL,
  `email` varchar(190) NOT NULL,
  `age` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prof`
--

LOCK TABLES `prof` WRITE;
/*!40000 ALTER TABLE `prof` DISABLE KEYS */;
INSERT INTO `prof` VALUES (1,'Alice Martin','alice.martin@ecole.local',38),(2,'Bernard Leroy','bernard.leroy@ecole.local',45),(3,'Clara Petit','clara.petit@ecole.local',34),(4,'David Morel','david.morel@ecole.local',51);
/*!40000 ALTER TABLE `prof` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_before_prof_delete_notes_to_ten
BEFORE DELETE ON prof
FOR EACH ROW
BEGIN
    SET @skip_keep_best_trigger = 1;

    UPDATE note
    SET valeur = 10.00,
        prof_id = NULL
    WHERE prof_id = OLD.id;

    SET @skip_keep_best_trigger = 0;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `prof_cours`
--

DROP TABLE IF EXISTS `prof_cours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prof_cours` (
  `prof_id` int(11) NOT NULL,
  `cours_id` int(11) NOT NULL,
  PRIMARY KEY (`prof_id`,`cours_id`),
  KEY `fk_prof_cours_cours` (`cours_id`),
  CONSTRAINT `fk_prof_cours_cours` FOREIGN KEY (`cours_id`) REFERENCES `cours` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_prof_cours_prof` FOREIGN KEY (`prof_id`) REFERENCES `prof` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prof_cours`
--

LOCK TABLES `prof_cours` WRITE;
/*!40000 ALTER TABLE `prof_cours` DISABLE KEYS */;
INSERT INTO `prof_cours` VALUES (1,1),(1,2),(2,3),(2,4),(3,4),(3,5),(4,6);
/*!40000 ALTER TABLE `prof_cours` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotion`
--

DROP TABLE IF EXISTS `promotion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `promotion` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(120) NOT NULL,
  `annee` int(11) NOT NULL,
  `specialite_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`),
  KEY `fk_promotion_specialite` (`specialite_id`),
  CONSTRAINT `fk_promotion_specialite` FOREIGN KEY (`specialite_id`) REFERENCES `specialite` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotion`
--

LOCK TABLES `promotion` WRITE;
/*!40000 ALTER TABLE `promotion` DISABLE KEYS */;
INSERT INTO `promotion` VALUES (1,'DEV2026',2026,1),(2,'CYB2026',2026,2),(3,'DATA2026',2026,3),(4,'DEV2027',2027,1);
/*!40000 ALTER TABLE `promotion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `specialite`
--

DROP TABLE IF EXISTS `specialite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `specialite` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(120) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `specialite`
--

LOCK TABLES `specialite` WRITE;
/*!40000 ALTER TABLE `specialite` DISABLE KEYS */;
INSERT INTO `specialite` VALUES (2,'Cybersecurite'),(3,'Data IA'),(1,'Developpement');
/*!40000 ALTER TABLE `specialite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'cozma_miroslav'
--
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_recalculer_classement_eleves` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_recalculer_classement_eleves`()
BEGIN
    DECLARE done INT DEFAULT 0;
    DECLARE v_eleve_id INT;
    DECLARE v_moyenne DECIMAL(5, 2);
    DECLARE v_absence INT;
    DECLARE v_warn INT;
    DECLARE v_score INT;

    DECLARE cur CURSOR FOR
        SELECT id
        FROM eleve;

    DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = 1;

    DELETE FROM classement_eleve;

    OPEN cur;

    read_loop: LOOP
        FETCH cur INTO v_eleve_id;

        IF done = 1 THEN
            LEAVE read_loop;
        END IF;

        SELECT COALESCE(AVG(valeur), 0)
        INTO v_moyenne
        FROM note
        WHERE eleve_id = v_eleve_id;

        SELECT COALESCE(SUM(duree_minutes), 0)
        INTO v_absence
        FROM absence
        WHERE eleve_id = v_eleve_id;

        SELECT COALESCE(
            MAX(
                CASE
                    WHEN avertissement_travail = 1 OR avertissement_comportement = 1 THEN 1
                    ELSE 0
                END
            ),
            0
        )
        INTO v_warn
        FROM dossier
        WHERE eleve_id = v_eleve_id;

        SET v_score = 1;

        IF v_moyenne > 15 THEN
            SET v_score = v_score + 5;
        ELSEIF v_moyenne > 12 THEN
            SET v_score = v_score + 3;
        ELSEIF v_moyenne > 10 THEN
            SET v_score = v_score + 2;
        ELSEIF v_moyenne > 8 THEN
            SET v_score = v_score + 1;
        ELSEIF v_moyenne < 5 THEN
            SET v_score = v_score - 2;
        END IF;

        IF v_absence < 120 THEN
            SET v_score = v_score + 5;
        ELSEIF v_absence < 240 THEN
            SET v_score = v_score + 3;
        ELSEIF v_absence < 480 THEN
            SET v_score = v_score + 2;
        ELSEIF v_absence < 720 THEN
            SET v_score = v_score + 1;
        ELSEIF v_absence > 1080 THEN
            SET v_score = v_score - 2;
        END IF;

        IF v_warn = 1 THEN
            SET v_score = v_score - 2;
        END IF;

        SET v_score = GREATEST(1, LEAST(10, v_score));

        INSERT INTO classement_eleve (
            eleve_id,
            score,
            moyenne_generale,
            total_absence_minutes,
            a_un_avertissement
        )
        VALUES (
            v_eleve_id,
            v_score,
            v_moyenne,
            v_absence,
            v_warn
        );
    END LOOP;

    CLOSE cur;

    SELECT
        e.nom,
        c.score,
        c.moyenne_generale,
        c.total_absence_minutes,
        c.a_un_avertissement
    FROM classement_eleve c
    JOIN eleve e ON e.id = c.eleve_id
    ORDER BY c.score DESC, c.moyenne_generale DESC, e.nom ASC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-17 19:58:17
